<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <title>Sistema de Login</title>
  <link rel="stylesheet" href="/css/register.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  />
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet" />
</head>

<body>

  <div class="lado-esquerdo">
    <div class="conteudo-esquerdo">
      <h1>Bem-vindo de volta!</h1>
      <p>Já tem uma conta?</p>
      <button id="btn-login"> Login</button>
    </div>
  </div>

  <div class="lado-direito">
    <p>Cadastro</p>

    <div class="formulario">
      <input type="text" id="input-nome" name="usuario" placeholder="Digite seu nome" />

      <input type="password" id="input-senha" name="senha" placeholder="Digite sua senha" />

      <input type="email" id="input-email" name="email" placeholder="Digite seu email" />

      <p id="esqueci-senha">Forgot Password?</p>

      <button id="btn-cadastrar">Registrar</button>

      <p id="texto-redes">or login with social plataforms</p>
    </div>

    <div id="icones-redes">
      <a href="#" aria-label="Google"><i class="fab fa-google"></i></a>
      <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
      <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
      <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
    </div>

  <script src="../js/Register.js"></script>
</body>

</html>
