@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");

:root {
  --bg-dark: #000000;
  --white: #ffffff;
  --primary-gradient: linear-gradient(to right, #ff4e66, #ffc400ad);
}

/* ======== BODY ======== */
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  overflow: hidden;
  transition: transform 1s ease;
  flex-direction: row-reverse;
}

body.slide-out {
  transform: translateX(-100%);
}

/* ======== CONTAINERS ======== */
.lado-esquerdo {
  flex: 1;
  background-image: linear-gradient(140deg, #10B981, #10b981a9);
  border-radius: 175px 0 0 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.lado-direito {
  flex: 1;
  background-color: white;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 4rem;
}

/* ======== ELEMENTS ======== */
.conteudo-esquerdo {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  margin-top: -5rem;
}

.conteudo-esquerdo h1 {
  color: white;
  font-size: 3rem;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.conteudo-esquerdo p {
  color: white;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  margin: 0;
}

/* ======== BUTTONS ======== */
#btn-login {
  width: 16rem;
  border: 1px solid white;
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  background: transparent;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.6rem 0;
  transition: background-color 0.3s ease;
  margin-left: 8rem;
}

#btn-login:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 1.5rem;
  box-sizing: border-box;
}

.formulario button {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--white);
  border: none;
  height: 4rem;
  border-radius: 15px;
  cursor: pointer;
  background-color: #10B981;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  width: 100%;
  margin: 0 auto;
  position: relative;
  bottom: 3rem;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* ======== INPUTS ======== */
input {
  border: 1px solid var(--white);
  height: 4rem;
  border-radius: 15px;
  background-color: #d7cfcf;
  color: rgb(2, 2, 2);
  width: 100%;
  font-size: 1.2rem;
  padding: 0 10px;
  outline: none;
  font-family: "Poppins", sans-serif;
}

input[type="password"] {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black'><path d='M12 2a5 5 0 00-5 5v4H6a2 2 0 00-2 2v9a2 2 0 002 2h12a2 2 0 002-2v-9a2 2 0 00-2-2h-1V7a5 5 0 00-5-5zm-3 9V7a3 3 0 016 0v4H9z'/></svg>");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: right 10px center;
}

input[type="text"] {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 24 24'><path d='M12 12c2.7 0 5-2.3 5-5s-2.3-5-5-5-5 2.3-5 5 2.3 5 5 5zm0 2c-3.3 0-10 1.7-10 5v3h20v-3c0-3.3-6.7-5-10-5z'/></svg>");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: right 10px center;
}

input[type="email"] {
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M2 4h20v16H2V4zm18 2l-8 5-8-5V6l8 5 8-5v.01z'/></svg>");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: right 10px center;
}

/* ======== TEXT ======== */
p {
  color: var(--bg-dark);
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2rem;
}

#esqueci-senha {
  color: black;
  font-size: 1rem;
  transition: 0.3s;
  margin-top: -1rem;
}

#esqueci-senha:hover {
  transform: scale(1.05);
  cursor: pointer;
}

#texto-redes {
  font-size: 1rem;
  position: static;
  margin-top: -3rem;
}

/* ======== REDES SOCIAIS ======== */
#icones-redes {
  display: flex;
  gap: 3rem;
  padding: 0.5rem;
  width: max-content;
  margin-top: -2rem;
}

#icones-redes a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #222;
  border-radius: 6px;
  color: black;
  border: solid black 1px;
  transition: 0.3s;
  font-size: 1rem;
}

#icones-redes a:hover {
  background-color: #555;
  transform: scale(1.05);
}

#icones-redes a:nth-child(1) {
  background-color: white;
} /* Google */
#icones-redes a:nth-child(2) {
  background-color: white;
} /* Facebook */
#icones-redes a:nth-child(3) {
  background-color: white;
} /* Twitter */
#icones-redes a:nth-child(4) {
  background-color: white;
} /* Instagram */

/* ======== LINKS ======== */
a {
  color: var(--white);
  text-decoration: none;
}

/* ======== RESPONSIVIDADE ======== */
@media (max-width: 768px) {
  body {
    flex-direction: column;
    height: auto;
  }

  .lado-esquerdo {
    width: 100%;
    height: 200px;
    border-radius: 0 0 50px 50px;
    padding: 1rem 2rem;
  }

  .lado-direito {
    width: 100%;
    margin-top: 20px;
    border-radius: 30px;
    padding: 40px 20px;
  }

  button,
  input {
    width: 100%;
  }
}
